@import '~ant-design-vue/dist/antd.less'; // 引入官方提供的 less 样式入口文件 
@import './base.less';


/*---- button -----*/
@primary-color: #04856F; // 全局主色

.ant-btn,
.ant-btn:focus {
  font-weight: normal;
  background-image: linear-gradient(180deg, #E9E9E9 0%, #BDBDBD 100%);
  border: 1px solid #707070;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.55), inset 0 1px 0 0 rgba(255, 255, 255, 0.41);
  border-radius: 4px;
  color: #2C2D2E;
}

.ant-btn::after {
  display: none;
}

.ant-btn:hover {
  border: 1px solid #37647A;
  background-image: linear-gradient(180deg, #E9E9E9 0%, #BDBDBD 100%);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.55), inset 0 0 0 1px rgba(21, 96, 134, 0.50), inset 0 1px 0 0 rgba(255, 255, 255, 0.41);
  font-size: 14px;
  color: #2C2D2E;
}

.ant-btn:not([disabled]):active {
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.55), inset 0 0 0 1px rgba(21, 96, 134, 0.50), inset 0 1px 0 0 rgba(255, 255, 255, 0.41);
  color: #2C2D2E;
}

.ant-btn:active {
  background-image: linear-gradient(180deg, #DAEAEE 0%, #BACACE 100%);
  border: 1px solid #37647A;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.55), inset 0 0 0 1px rgba(21, 96, 134, 0.50), inset 0 1px 0 0 rgba(255, 255, 255, 0.41);
  color: #2C2D2E;
}

.ant-btn-disabled,
.ant-btn.disabled,
.ant-btn[disabled],
.ant-btn-disabled:hover,
.ant-btn.disabled:hover,
.ant-btn[disabled]:hover,
.ant-btn-disabled:focus,
.ant-btn.disabled:focus,
.ant-btn[disabled]:focus,
.ant-btn-disabled:active,
.ant-btn.disabled:active,
.ant-btn[disabled]:active,
.ant-btn-disabled.active,
.ant-btn.disabled.active,
.ant-btn[disabled].active {
  background-image: linear-gradient(180deg, #D2D2D2 0%, #BDBDBD 100%);
  border: 1px solid rgba(47, 47, 47, 0.59);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.55);
  opacity: .5;
}

/* ---- 绿色按钮 -------*/
.ant-btn.ant-btn-primary,
.ant-btn.ant-btn-parimary:focus {
  background-image: linear-gradient(180deg, #67B95F 0%, #469F4F 100%);
  border: 1px solid #677A7E;
  box-shadow: 0 0 0 0 rgba(21, 96, 134, 0.58);
  border-radius: 4px;
  color: #fff;
}

.ant-btn.ant-btn-primary:hover {
  background-image: linear-gradient(180deg, #5DA755 0%, #3E8C45 100%);
  border: 1px solid #677A7E;
  box-shadow: 0 0 0 0 rgba(21, 96, 134, 0.58);
  color: #fff;
}

.ant-btn.ant-btn-primary:not([disabled]):active {
  box-shadow: 0 0 0 0 rgba(21, 96, 134, 0.58);
}

.ant-btn.ant-btn-primary:active {
  background-image: linear-gradient(180deg, #5DA755 0%, #3E8C45 100%);
  border: 1px solid #37647A;
  box-shadow: 0 0 0 0 rgba(21, 96, 134, 0.58);
  color: #fff;
}

// 重写slider  start============
.slider-common(@color) {
  height: 12px;
  border-radius: 0;
  background-color: @color;
}

.ant-slider {
  margin: 0;
  padding: 0;
}

.ant-slider-rail {
  .slider-common(#434B59);
}

.ant-slider-track {
  .slider-common(#04856F);
}

.ant-slider-handle {
  margin-top: -9px;
  width: 8px;
  height: 30px;
  background: rgba(201,211,230,0.80);
  box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 20%);
  border-radius: 4px;
  border: none;

  &:focus {
    border-color: #04c4a4;
  }
}
.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
  border-color: #04c4a4;
}
.ant-slider:hover .ant-slider-rail {
  background-color: #434B59;
}
.ant-slider-handle.ant-tooltip-open {
  border-color: #04c4a4;
}

// 重写slider end============